[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "==2.8.3"
pylama = "== 7.7.1"

[packages]
django = "==3.2.5"
psycopg2 = "==2.8.6"
pillow = "==8.3.1"
gunicorn = "*"
python-dotenv = "*"
dj-database-url = "*"
whitenoise = "*"
django-cloudinary-storage = "*"
cloudinary = "*"

[requires]
python_version = "3.9.6"

[pipenv]
allow_prereleases = false
